<%= form_for([@user, @submit_request]) do |f| %>
  <p><%= f.collection_select :task_id, @tasks, :id, :title, {}, class: "form-control title" %></p>
  <p><%= f.collection_select :charge_id, @users, :id, :name, {}, class: "form-control" %></p>
  <p><%= f.text_area :message, placeholder: "依頼メッセージ", size: "50-20", class:"form-control" %></p>
  <p><%= f.hidden_field :user_id %></p>
  <p><%= f.hidden_field :status %></p>
  <p><%= f.submit "依頼する", class: "btn btn-primary btn-block" %></p>
<% end %>